@import 'src/app/scss/variables';
@import 'src/app/scss/mixins';

.layout-organizer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    position: relative;
}

section {
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 65%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.login-container {
    height: 100%;
    width: 45%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;

  @include respond-to('phone') {
    width: 100%;
    position: relative;
  }

  .logo {
    display: none;

    @include respond-to('phone') {
      display: block;
      top: 20px;
    }
  }
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;

    @include respond-to('phone') {
      margin-top: 10%;
    }
  }

mat-form-field {
    width: 100%;
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $secondcolor !important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: $secondcolor !important;
}

.login-button {
    width: 50%;
    background-color: $maincolor;
    color: white;
    margin-top: 10%;
}

.loading {
    margin: 6px auto;
}

.login-text {
    margin: 0;
}

.logo-container {
    height: 100%;
    width: 55%;
    background-color: #f4f4f4;
    position: relative;
    display: flex;
    justify-content: center;

    @include respond-to('phone') {
      width: 0;
      height: 0;
      display:none;
    }
}

.logo {
    font-family: $logofont;
    font-size: 4em;
    margin: 0;
    position: absolute;
    align-self: center;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

.triangle-left {
    border-width: 38vh 28vw 0 0;
    border-color: $secondcolor transparent transparent transparent;
    left: 0;
    top: 0;
}

.triangle-right {
    border-width: 0 0 38vh 28vw;
    border-color: transparent transparent $maincolor transparent;
    right: 0;
    bottom: 0;
}

.triangle__big--left {
  border-width: 70vh 75vw 0 0;
  display: none;

  @include respond-to('phone') {
    display: block;
  }
}

.triangle__big--right {
  border-width: 0 0 70vh 75vw;
  display: none;

  @include respond-to('phone') {
    display: block;
  }
}

.version {
    position: fixed;
    left: 1%;
    bottom: 1%;
    color: grey;
    margin: 0;
}
